/* style.css */

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5vh;
  flex-grow: 1;
  justify-content: center;
}

.upload-container {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.upload-label {
  font-size: 34px;
  color: black;
  text-align: center;
}

.next-button {
  background-color: #3498db;
  color: #000;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.next-button:hover {
  background-color: #2980b9;
}

.loading {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .5);
}

.loading-wheel {
  width: 20px;
  height: 20px;
  margin-top: -40px;
  margin-left: -40px;

  position: absolute;
  top: 50%;
  left: 50%;

  border-width: 30px;
  border-radius: 50%;
  -webkit-animation: spin 1s linear infinite;
}

.style-2 .loading-wheel {
  border-style: double;
  border-color: #ccc transparent;
}

.recommendation-title {
  color: black;
  font-weight: 400;
  font-size: 25px;
  text-align: center;
}

.start-again-button {
  display: block;
  width: 100%;
  padding: 0.75rem 1rem;
  border: 1px solid #000000;
  border-radius: 0.25rem;
  background-color: #000;
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.start-again-button:hover {
  background-color: transparent;
  color: #000;
}

.card-container {
  display: flex;
  flex-wrap: wrap; 
  column-gap: 50px; 
  row-gap: 25px;
  justify-content:center;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0);
  }

  100% {
    -webkit-transform: rotate(-360deg);
  }
}